
.im-wrapper h4{
    margin-bottom: 12px;
    text-align: center;
}
.im-wrapper p{
    text-align: center;
    font-size: 16px;
}
.intetactivemap{
    width:1250px;
    margin:0 auto;
    position: relative;
}
.intetactivemap img{
    width:100%;
    z-index: 1; /*new code edit*/
}
.intetactivemap > div:hover {
    z-index: 999;
}

/*vehicle css start*/


.vehicle{
    height: 29%;
    width: 51%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 0;
    left: 70px;
    z-index: 5; /*new code edit*/
}
.vehicle:hover{
    background-color: rgba(255,255,255,0.2);
}
.vehicle:hover .vehicle-inner{
    display: block;
}
.vehicle-inner{
    width:275px;
    padding: 10px;
    background-color:#fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: none;
}
.vehicle-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.vehicle-inner h4{
    color:#000;
    font-weight: bold;
}
.vehicle-inner img{
    width:100%; 
}
.vehicle-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.vehicle-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}

/*vehicle css end*/

/*open css start*/

.sidewalk-sign{
    height: 22%;
    width: 9%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 41px;
    right: 35px;
    z-index: 4; /*new code edit*/
}
.sidewalk-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.sidewalk-sign:hover .sidewalk-sign-inner{
    display: block;
}
.sidewalk-sign-inner{
    width:275px;
    padding: 10px;
    background-color:#fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    bottom: 100%;
    right: 50%;
    display: none;
}
.sidewalk-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.sidewalk-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.sidewalk-sign-inner img{
    width:100%; 
}
.sidewalk-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sidewalk-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}


/*open start end*/


/*monument-sign css start*/

.monument-sign{
    height: 18%;
    width: 12%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 16%;
    right: 10%;
    z-index: 4; /*new code edit*/
}
.monument-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.monument-sign:hover .monument-sign-inner{
    display: block;
}
.monument-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    bottom: -171%;
    right: 102%;
    display: none;
}
.monument-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.monument-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.monument-sign-inner img{
    width:100%; 
}
.monument-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.monument-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}


/*monument-sign start end*/


/*monument-sign css start*/

.yard-sign{
    height: 14%;
    width: 13%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 27%;
    right: 32%;
    z-index: 11; /*new code edit*/
}
.yard-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.yard-sign:hover .yard-sign-inner{
    display: block;
}
.yard-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    bottom: 0%;
    right: 102%;
    display: none;
}
.yard-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.yard-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.yard-sign-inner img{
    width:100%; 
}
.yard-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.yard-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}


/*monument-sign start end*/



/*ada-sign start */

.ada-sign{
    height: 5%;
    width: 3%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 28%;
    left: 14%;
    z-index: 3; /*new code edit*/
}
.ada-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.ada-sign:hover .ada-sign-inner{
    display: block;
}
.ada-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    -bottom: 84%;
    left: 105%;
    display: none;
}
.ada-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.ada-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.ada-sign-inner img{
    width:100%; 
}
.ada-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.ada-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*ada-sign end*/

/*outdoor-sign start */

.outdoor-sign{
    height: 15%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 28%;
    left: 17%;
    z-index: 6; /*new code edit*/
}
.outdoor-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.outdoor-sign:hover .outdoor-sign-inner{
    display: block;
}
.outdoor-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.outdoor-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.outdoor-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.outdoor-sign-inner img{
    width:100%; 
}
.outdoor-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.outdoor-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*outdoor-sign end*/


/*outdoor-sign start */

.window-sign{
    height: 15%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 28%;
    left: 31%;
    z-index: 3; /*new code edit*/
}
.window-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.window-sign:hover .window-sign-inner{
    display: block;
}
.window-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.window-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.window-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.window-sign-inner img{
    width:100%; 
}
.window-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.window-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*outdoor-sign end*/

/*awning-sign start */

.awning-sign{
    height: 11%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 41%;
    right: 9%;
    z-index: 3; /*new code edit*/
}
.awning-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.awning-sign:hover .awning-sign-inner{
    display: block;
}
.awning-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    right: 100%;
    display: none;
}
.awning-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.awning-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.awning-sign-inner img{
    width:100%; 
}
.awning-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.awning-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*awning-sign end*/


/*vinyl_lettering start */

.vinyl_lettering{
    height: 19%;
    width: 9%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 19%;
    right: 13%;
    z-index: 11; /*new code edit*/
}
.vinyl_lettering:hover{
    background-color: rgba(255,255,255,0.2);
}
.vinyl_lettering:hover .vinyl_lettering-inner{
    display: block;
}
.vinyl_lettering-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    right: 100%;
    display: none;
}
.vinyl_lettering-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.vinyl_lettering-inner h4{
    color:#000;
    font-weight: bold;
}
.vinyl_lettering-inner img{
    width:100%; 
}
.vinyl_lettering-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.vinyl_lettering-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*vinyl_lettering end*/

/*electrical-sign start */

.electrical-sign{
    height: 5%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 44%;
    left: 17%;
    z-index: 9; /*new code edit*/
}
.electrical-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.electrical-sign:hover .electrical-sign-inner{
    display: block;
}
.electrical-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
    z-index: 9; /*new code edit*/
}
.electrical-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.electrical-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.electrical-sign-inner img{
    width:100%; 
}
.electrical-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.electrical-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*electrical-sign end*/


/*electrical-sign start */

.store-front-sign{
    height: 5%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 52%;
    left: 9%;
    z-index: 10; /*new code edit*/
}
.store-front-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.store-front-sign:hover .store-front-sign-inner{
    display: block;
}
.store-front-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.store-front-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.store-front-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.store-front-sign-inner img{
    width:100%; 
}
.store-front-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.store-front-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*electrical-sign end*/

/*electrical-sign start */

.Directional-sign{
    height: 21%;
    width: 20%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 4%;
    left: 0%;
    z-index: 3; /*new code edit*/
}
.Directional-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.Directional-sign:hover .Directional-sign-inner{
    display: block;
}
.Directional-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.Directional-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.Directional-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.Directional-sign-inner img{
    width:100%; 
}
.Directional-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Directional-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*electrical-sign end*/


/*roof-sign start */

.roof-sign{
    height: 13%;
    width: 20%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 10%;
    left: 47%;
    z-index: 3; /*new code edit*/
}
.roof-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.roof-sign:hover .roof-sign-inner{
    display: block;
}
.roof-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.roof-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.roof-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.roof-sign-inner img{
    width:100%; 
}
.roof-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.roof-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*roof-sign end*/

/*wall-graphics-sign start */

.wall-graphics-sign{
    height: 13%;
    width: 20%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 25%;
    left: 47%;
    z-index: 3; /*new code edit*/
}
.wall-graphics-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.wall-graphics-sign:hover .wall-graphics-sign-inner{
    display: block;
}
.wall-graphics-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.wall-graphics-sign-inner div{
    padding:10px;
    border:5px solid darkgray;
}
.wall-graphics-sign-inner h4{
    color:#000;
    font-weight: bold;
}
.wall-graphics-sign-inner img{
    width:100%; 
}
.wall-graphics-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.wall-graphics-sign-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    text-align: center;
}



/*wall-graphics-sign end*/



@media(max-width: 1200px){
    .intetactivemap{
        width:1100px;
    }
}
@media(max-width: 1024px){
    .intetactivemap{
        width:992px;
    }
    .sidewalk-sign-inner{
        bottom: -100%;
    }
    .monument-sign-inner{
        bottom: -243%;
    }
}
@media(max-width: 800px){
    .intetactivemap{
        width:100%;
    }
    .monument-sign-inner{
        bottom: -310%;
    }
    .roof-sign-inner{
        top: 87px;
        left: 52%;
    }
    .wall-graphics-sign-inner{
        top: 76px;
        left: 7%;
    }
    .ada-sign-inner{
        top:25%;
    }
}
@media(max-width: 500px){
    .intetactivemap{
        width:100%;
    }
    .monument-sign-inner{
        bottom: -1080%;
        right:-40%;
        top: 182px;
    }
    .sidewalk-sign-inner{
        bottom: -445px;
        right: 46%;
    }
    .yard-sign-inner{
        bottom: -1176%;
        right: -215%;
    }
    .vehicle-inner{
        left: -11%;
        bottom: -439%;
        top: 76px;
    }
    .vehicle{
        left:28px;
    }
    .Directional-sign-inner{
        top:281px;
        left: 14px;
    }
    .outdoor-sign-inner{
        top:132px;
        left: -38px;
    }
    .electrical-sign-inner{
        top:132px;
        left: -41px;
    }
    .window-sign-inner{
        top:132px;
        left: -83px;
    }
    .wall-graphics-sign-inner{
        top: 214px;
        left: -114%;
        left: -133px;
    }
    .awning-sign-inner{
        top:150px;
        right: -17px;
    }
    .vinyl_lettering-inner{
        top:110px;
        right: -32px;
    }
    .roof-sign-inner{
        top: 261px;
        left: -138px;
    }
    .ada-sign-inner{
        top:100px;
        left: -284%;
    }
    .store-front-sign-inner{
        top: 154px;
        left: 0px;
    }
    .sidewalk-sign{
        bottom: 7%;
        right: 3%;
    }
}


/*caution css start*/


.caution{
    height: 18%;
    width: 10%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 7%;
    left: 5%;
    z-index: 3;
}
.caution:hover{
    background-color: rgba(255,255,255,0.2);
}
.caution:hover .caution-inner{
    display: block;
}
.caution-inner{
    width:275px;
    padding: 10px;
    background-color:#fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    bottom: -220px;
    left: 50%;
    display: none;
}
.caution-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.caution-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.caution-inner img{
    width:100%; 
}
.caution-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.caution-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.caution-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}

/*caution css end*/

/*open css start*/

.retractable-banners{
    height: 46%;
    width: 10%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 41px;
    right: 12px;
    z-index: 3;
}
.retractable-banners:hover{
    background-color: rgba(255,255,255,0.2);
}
.retractable-banners:hover .retractable-banners-inner{
    display: block;
}
.retractable-banners-inner{
    width:275px;
    padding: 10px;
    background-color:#fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0%;
    right: 97%;
    display: none;
}
.retractable-banners-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.retractable-banners-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.retractable-banners-inner img{
    width:100%; 
}
.retractable-banners-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.retractable-banners-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.retractable-banners-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}


/*open start end*/

/*ceiling-graphics css start*/

.ceiling-graphics{
    height: 13%;
    width: 15%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: -25px;
    right: 31%;
    border-radius: 49%;
    z-index: 3;
}
.ceiling-graphics:hover{
    background-color: rgba(255,255,255,0.2);
}
.ceiling-graphics:hover .ceiling-graphics-inner{
    display: block;
}
.ceiling-graphics-inner{
    width:275px;
    padding: 10px;
    background-color:#fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 34%;
    right: 97%;
    display: none;
}
.ceiling-graphics-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.ceiling-graphics-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.ceiling-graphics-inner img{
    width:100%; 
}
.ceiling-graphics-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.ceiling-graphics-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.ceiling-graphics-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}


/*ceiling-graphics start end*/


/*hanging-sign css start*/

.hanging-sign{
    height: 15%;
    width: 13%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 5%;
    right: 8%;
    z-index: 3;
}
.hanging-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.hanging-sign:hover .hanging-sign-inner{
    display: block;
}
.hanging-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top:25%;
    right: 102%;
    display: none;
}
.hanging-sign-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.hanging-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}
.hanging-sign-inner img{
    width:100%; 
}
.hanging-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.hanging-sign-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.hanging-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}


/*hanging-sign start end*/


/*hanging-sign css start*/

.reception{
    height: 3%;
    width: 5%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 38%;
    right: 30%;
    z-index: 3;
}
.reception:hover{
    background-color: rgba(255,255,255,0.2);
}
.reception:hover .reception-inner{
    display: block;
}
.reception-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    bottom: -250px;
    right: 102%;
    display: none;
}
.reception-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.reception-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.reception-inner img{
    width:100%; 
}
.reception-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.reception-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.reception-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}


/*hanging-sign start end*/


/*outdoor-sign start */

.outdoor-sign{
    height: 15%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 28%;
    left: 17%;
    z-index: 5;
}
.outdoor-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.outdoor-sign:hover .outdoor-sign-inner{
    display: block;
}
.outdoor-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.outdoor-sign-inner img{
    width:100%; 
}
.outdoor-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.outdoor-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}



/*outdoor-sign end*/


/*outdoor-sign start */

.window-sign{
    height: 15%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 28%;
    left: 31%;
    z-index: 3;
}
.window-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.window-sign:hover .window-sign-inner{
    display: block;
}

.window-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.window-sign-inner img{
    width:100%; 
}
.window-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.window-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}



/*outdoor-sign end*/

/*front-desk-wall-sign start */

.front-desk-wall-sign{
    height: 19%;
    width: 12%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 43%;
    right: 22%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 3;
}
.front-desk-wall-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.front-desk-wall-sign:hover .front-desk-wall-sign-inner{
    display: block;
}
.front-desk-wall-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    right: 100%;
    display: none;
}
.front-desk-wall-sign-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.front-desk-wall-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.front-desk-wall-sign-inner img{
    width:100%; 
}
.front-desk-wall-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.front-desk-wall-sign-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.front-desk-wall-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}



/*front-desk-wall-sign end*/

/*front-desk-wall-sign start */

.wall-graphics{
    height: 19%;
    width: 46%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 43%;
    right: 4%;
    z-index: 2;

}
.wall-graphics:hover{
    background-color: rgba(255,255,255,0.2);
}
.wall-graphics:hover .wall-graphics-inner{
    display: block;
}
.wall-graphics-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    right: 100%;
    display: none;
}
.wall-graphics-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.wall-graphics-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.wall-graphics-inner img{
    width:100%; 
}
.wall-graphics-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.wall-graphics-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.wall-graphics-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}



/*front-desk-wall-sign end*/


/*front-desk-sign start */

.front-desk-sign{
    height: 19%;
    width: 35%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 19%;
    right: 13%;
    z-index: 2;
}
.front-desk-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.front-desk-sign:hover .front-desk-sign-inner{
    display: block;
}
.front-desk-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    right: 100%;
    display: none;
}
.front-desk-sign-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.front-desk-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.front-desk-sign-inner img{
    width:100%; 
}
.front-desk-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.front-desk-sign-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.front-desk-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}



/*front-desk-sign end*/

/*floor-sign start */

.floor-sign{
    height: 13%;
    width: 35%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 0%;
    right: 42%;
    z-index: 3;
}
.floor-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.floor-sign:hover .floor-sign-inner{
    display: block;
}
.floor-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    right: 100%;
    display: none;
}
.floor-sign-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.floor-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.floor-sign-inner img{
    width:100%; 
}
.floor-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.floor-sign-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.floor-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}



/*floor-sign end*/

/*lobby-sign start */

.lobby-sign{
    height: 19%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    bottom: 40%;
    left: 27%;
    z-index: 3;
}
.lobby-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.lobby-sign:hover .lobby-sign-inner{
    display: block;
}
.lobby-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.lobby-sign-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.lobby-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.lobby-sign-inner img{
    width:100%; 
}
.lobby-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.lobby-sign-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.lobby-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}


/*lobby-sign end*/


/*lobby-sign start */

.exit-sign{
    height: 8%;
    width: 6%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 6%;
    left: 16%;
    z-index: 3;
}
.exit-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.exit-sign:hover .exit-sign-inner{
    display: block;
}
.exit-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.exit-sign-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.exit-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.exit-sign-inner img{
    width:100%; 
}
.exit-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.exit-sign-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.exit-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}


/*lobby-sign end*/

/*lobby-sign start */

.privacy-film{
    height: 50%;
    width: 25%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 23%;
    left: 1%;
    z-index: 3;
}
.privacy-film:hover{
    background-color: rgba(255,255,255,0.2);
}
.privacy-film:hover .privacy-film-inner{
    display: block;
}
.privacy-film-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.privacy-film-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.privacy-film-inner h4{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
}
.privacy-film-inner img{
    width:100%; 
}
.privacy-film-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.privacy-film-inner a{
    display: block;
    padding:10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color:#fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border:3px solid transparent;
}
.privacy-film-inner a:hover{
    background-color: transparent;
    color:#bda805;
    border:3px solid #bda805;
}



/*lobby-sign end*/


/*square-hanging-sign start */

.square-hanging-sign{
    height: 7%;
    width: 14%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 12%;
    left: 31%;
    z-index: 3;
}
.square-hanging-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.square-hanging-sign:hover .square-hanging-sign-inner{
    display: block;
}
.square-hanging-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.square-hanging-sign-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.square-hanging-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.square-hanging-sign-inner img{
    width:100%; 
}
.square-hanging-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.square-hanging-sign-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.square-hanging-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}



/*square-hanging-sign end*/

/*restroom-sign start */

.restroom-sign{
    height: 4%;
    width: 6%;
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 37%;
    left: 37%;
    z-index: 3;
}
.restroom-sign:hover{
    background-color: rgba(255,255,255,0.2);
}
.restroom-sign:hover .restroom-sign-inner{
    display: block;
}
.restroom-sign-inner{
    width: 275px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}
.restroom-sign-inner div{
    padding:10px;
    border:5px solid #d5be0b;
}
.restroom-sign-inner h4{
    color:#000;
    font-weight: bold;
    text-align: center;
}
.restroom-sign-inner img{
    width:100%; 
}
.restroom-sign-inner p{
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.restroom-sign-inner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #bda805;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: 3px solid transparent;
}
.restroom-sign-inner a:hover{
    background-color: transparent;
    color: #bda805;
    border: 3px solid #bda805;
}



/*restroom-sign end*/



@media(max-width: 1200px){
    .intetactivemap{
        width:1100px;
    }
    .floor-sign-inner{
        top: 69px;
        right: 74%;
    }
}
@media(max-width: 1024px){
    .intetactivemap{
        width:992px;
    }
}
@media(max-width: 800px){
    .intetactivemap{
        width:100%;
    }
    .hanging-sign-inner{
        top: 239px;
    }
    .square-hanging-sign-inner{
        top: 87px;
        left: 52%;
    }
    .restroom-sign-inner{
        top: 76px;
        left: 7%;
    }
    .ada-sign-inner{
        top:25%;
    }
    .floor-sign-inner {
        top: 44px;
        right: 29%;
    }
}
@media(max-width: 500px){
    .intetactivemap{
        width:100%;
    }
    .hanging-sign-inner{
        bottom: -1080%;
        right:-40%;
        top: 182px;
    }
    .retractable-banners-inner{
        bottom: -654%;
        right: 0;
        top:100px;
    }
    .reception-inner{
        bottom: -451px;
        right: -80px;
    }
    .caution-inner{
        left: -18px;
        bottom: -411px;
    }
    .caution{
        left:28px;
    }
    .privacy-film-inner{
        top: 163px;
        left: 6px;
    }
    .outdoor-sign-inner{
        top:132px;
        left: -38px;
    }
    .lobby-sign-inner{
        top:132px;
        left: -74px;
    }
    .window-sign-inner{
        top:132px;
        left: -83px;
    }
    .restroom-sign-inner{
        top: 143px;
        left: -106px;
    }
    .front-desk-wall-sign-inner{
        top:150px;
        right: -55px;
    }
    .front-desk-sign-inner{
        top:110px;
        right: -32px;
    }
    .square-hanging-sign-inner{
        top: 191px;
        left: -90px;
    }
    .ada-sign-inner{
        top:100px;
        left: -284%;
    }
    .exit-sign-inner{
        top: 188px;
        left: -39px;
    }
    .retractable-banners{
        bottom: 7%;
        right: 3%;
    }
    .reception{
        bottom: 40%;
    }
    .ceiling-graphics-inner {
        top: 109%;
        right: -144%;
    }
    .ceiling-graphics-inner {
        top: 125%;
        right: -144%;
    }
    .floor-sign-inner {
        top: 67%;
        right: -92%;
    }
    .wall-graphics-inner {
        top: 89%;
        right: 10%;
    }
}


.im-legend {
    margin: 35px auto;
    text-align: center;
}

.im-wrapper p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
}

.im-inside {
    display: none;
}

.im-legend .btn {
    background-color: #077da9;
}


.im-legend .btn.active, 
.im-legend .btn.active:focus, 
.im-legend .btn.active:hover {
    background-color: #e4141d;
}


.intetactivemap h4 {
    font-size:24px;
}